.font {
    font-family: 'Lobster', cursive;
}

.font1 {
    font-family: 'Sacramento', cursive;
}

.font2 {
    font-family: 'Bangers', cursive;
}

.font3 {
    font-family: 'Lobster Two', cursive;
}